@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = @_localization.Getkey("RegisterConfirmation");
}


<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@_localization.Getkey("RegisterConfirmation")</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li>
                        <a asp-area="Store" asp-controller="Home" asp-action="Index"><i class="lni lni-home"></i> @_localization.Getkey("Home")</a>
                    </li>
                    <li>@_localization.Getkey("RegisterConfirmation")</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <div class="form-control">
                    <div class="card-body">
                        <div class="title">
                            <h3>@_localization.Getkey("RegisterConfirmation")</h3>
                            <p>
                                @_localization.Getkey("RegisterConfirmationContent")
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}*@