@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @_localization.Getkey("ResetPasswordConfirmation");
}



<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@_localization.Getkey("ResetPasswordConfirmation")</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li>
                        <a asp-action="Index" asp-controller="Home" asp-area="Store"><i class="lni lni-home"></i> @_localization.Getkey("Home")</a>
                    </li>
                    <li>@_localization.Getkey("ResetPasswordConfirmation")</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <div class="form-control">
                    <div class="card-body">
                        <div class="title">
                            <h3>@_localization.Getkey("ResetPasswordConfirmationTitle")</h3>
                            <p>
                                @_localization.Getkey("ResetPasswordConfirmationContent1") <a asp-area="Identity" asp-page="/Account/Login">@_localization.Getkey("ResetPasswordConfirmationContent2")</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>*@