@page
@model DetailModel
@{
    ViewData["Title"] = @_localization.Getkey("CTHD");
    var currentCulture = Thread.CurrentThread.CurrentCulture.Name;
    Console.WriteLine(currentCulture);
    if (currentCulture == "vi-VN")
        ViewData["language"] = _localization.Getkey("Vietnamese");
    else if (currentCulture == "en-US")
        ViewData["language"] = _localization.Getkey("English");
    else ViewData["language"] = "";
}
@{
    var sanPhams = ViewData["sanPhams"] as IEnumerable<SanPham>;
    var gioHangs = ViewData["gioHangs"] as IEnumerable<GioHang>;
    var loaiSanPhams = ViewData["loaiSanPhams"] as IEnumerable<LoaiSanPham>;
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@_localization.Getkey("Bill")</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li>
                        <a asp-page="../Home/Index"><i class="lni lni-home"></i> @_localization.Getkey("AdminPage")</a>
                    </li>
                    <li>
                        <a asp-page="Index" asp-area="AdminManage"><i class="lni lni-list"></i> @_localization.Getkey("DSHD")</a>
                    </li>
                    <li>@_localization.Getkey("CTHD")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<partial name="_StatusMessage" model="@Model.StatusMessage" />
<br />
<div class="mb-2">
    <a class="btn btn-primary" asp-page="./Index">@_localization.Getkey("BackTo")</a>
</div>
<br />
<div class="product-area section pt-4">
    <div class="container col-7">
        <div class="row">
            <div class="col-12">
                <div class="section-title p-0">
                    <h2>@_localization.Getkey("CTHD") @Model.hoaDon.MaHoaDon</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-2">
                        <table class="table v-middle table-hover">
                            <tr>
                                <th>@_localization.Getkey("MaHD")</th>
                                <td>@Model.hoaDon?.MaHoaDon</td>
                            </tr>
                            <tr>
                                <th>@_localization.Getkey("NgayXuat")</th>
                                <td>@Model.hoaDon?.NgayXuatHd</td>
                            </tr>
                            <tr>
                                <th>@_localization.Getkey("TongGT")</th>
                                <td>@String.Format("{0: ### ### ### ### VNĐ}", @Model.hoaDon?.TongGiaTri)</td>
                            </tr>
                            <tr>
                                <th>@_localization.Getkey("KhuyenMai")</th>
                                <td>@Model.khuyenMai</td>
                            </tr>
                            <tr>
                                <th>@_localization.Getkey("Payments")</th>
                                <td>@Model.tenPhuongThucThanhToan</td>
                            </tr>
                            <tr>
                                <th>@_localization.Getkey("Payment_status")</th>
                                <td>
                                    @switch (Model.hoaDon.TrangThaiThanhToan)
                                    {
                                        case -1:
                                            @_localization.Getkey("Pay_error")
                                            break;
                                        case 0:
                                            @_localization.Getkey("Waiting_for_refund")
                                            break;
                                        case 1:
                                            @_localization.Getkey("Pay_success")
                                            break;
                                        default:
                                            @_localization.Getkey("ChoThanhToan")
                                            break;
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>@_localization.Getkey("Order_Status")</th>
                                <td>
                                    @switch (Model.hoaDon.TrangThaiDonHang)
                                    {
                                        case -1:
                                            @_localization.Getkey("Cancel_bill")
                                            break;
                                        case 0:
                                            @_localization.Getkey("Waiting_for_delivery")
                                            break;
                                        case 1:
                                            @_localization.Getkey("Delivery_in_progress")
                                            break;
                                        default:
                                            @_localization.Getkey("Delivery_successful")
                                            break;
                                    }

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div></div>
            <div class="col-12">
                <div class="card p-1">
                    <div class="card-body p-2">
                        <table class="table v-middle table-hover">
                            <thead>
                                <tr>
                                    <th>@_localization.Getkey("HinhAnh")</th>
                                    <th>@_localization.Getkey("TenSP")</th>
                                    <th>@_localization.Getkey("Category")</th>
                                    <th>@_localization.Getkey("Quantity")</th>
                                    <th>@_localization.Getkey("Price")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.chiTietHoaDons.Count(); i++)
                                {
                                    var sanPham = sanPhams.ElementAt(i);
                                    var gioHang = gioHangs.ElementAt(i);
                                    var loaiSanPham = loaiSanPhams.ElementAt(i);
                                    <tr>
                                        <td>
                                            <img width="130px" height="130px" src="@Model.path/@sanPham.HinhAnh" />
                                        </td>
                                        <td>
                                            @sanPham.TenSanPham
                                        </td>
                                        <td>
                                            @loaiSanPham.TenLoaiSp
                                        </td>
                                        <td>
                                            @gioHang.SoLuongDat
                                        </td>
                                        <td>
                                            @String.Format("{0: ### ### ### ### VNĐ}", @sanPham.GiaBan)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <span>@_localization.Getkey("Note1")</span>
                </div>
            </div>
        </div>
    </div>
</div>