@page
@model IndexModel
@{
    ViewData["Title"] = @_localization.Getkey("ListUser");
    var currentCulture = Thread.CurrentThread.CurrentCulture.Name;
    Console.WriteLine(currentCulture);
    if (currentCulture == "vi-VN")
        ViewData["language"] = _localization.Getkey("Vietnamese");
    else if (currentCulture == "en-US")
        ViewData["language"] = _localization.Getkey("English");
    else ViewData["language"] = "";
}
@{
    var pagingModel = new LuanVan.Helpers.PagingModel()
            {
                currentPage = Model.currentPage,
                countPages = Model.countPage,
                generateUrl = (int? p) => Url.Page("/User/Index", new{p=p})
            };
}
@*<h2>@ViewData["Title"]</h2>*@
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@_localization.Getkey("UserTitle")</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li>
                        <a asp-page="../Home/Index"><i class="lni lni-home"></i> @_localization.Getkey("AdminPage")</a>
                    </li>
                    <li>@_localization.Getkey("UserTitle")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
@if(Model.soLuongUser.Count()> 0)
{
    <br />
    <div class="mb-2">
        <a class="btn btn-outline-primary" id="exportUserExcelBtn"><i class="fa-regular fa-file-excel"></i></a>
        <a class="btn btn-outline-primary" id="exportUserPdfBtn"><i class="fa-regular fa-file-pdf"></i></a>
    </div>
    <br />
    <form method="get" asp-page="./Index">
        <div class="input-group">
            <input type="search" class="form-control rounded" name="Search" placeholder="@_localization.Getkey("SearchUsernameEmail")" />
            <button type="submit" class="btn btn-outline-primary"><i class="lni lni-search-alt"></i> @_localization.Getkey("SearchBtn")</button>
        </div>
    </form>
    <br />
    <partial name="_StatusMessage" model="@Model.StatusMessage" />
    <br />
    <table class="table">
        <tr>
            <th>@_localization.Getkey("STT")</th>
            @*<th>@_localization.Getkey("UserID")</th> *@
            <th>@_localization.Getkey("Username")</th>
            <th>@_localization.Getkey("UserEmail")</th>
            <th>@_localization.Getkey("NumberCancelBill")</th>
            <th>@_localization.Getkey("UserRoleName")</th>
            <th>@_localization.Getkey("ConfirmAccount")</th>
            <th>@_localization.Getkey("StatusUserAccount")</th>
            <th>@_localization.Getkey("TacVu")</th>
        </tr>
        @{
            var stt = 1;
        }
        @foreach (var user in Model.users)
        {
            <tr>
                <td>
                    @stt
                    @{
                        stt++;
                    }
                </td>
                @* <td>@user.Id</td> *@
                <td><a asp-page="./SetPassword" asp-route-id="@user.Id">@user.UserName</a></td>
                <td>@user.Email</td>
                <td>@user.cancelBillNumber</td>
                <td>
                    @if (string.IsNullOrEmpty(user.RoleNames))
                    {
                        <a asp-page="./AddRole" asp-route-id="@user.Id"><i class="lni lni-plus"></i></a>
                    }
                    else
                    {
                        <a asp-page="./AddRole" asp-route-id="@user.Id">@user.RoleNames</a>

                    }
                </td>
                <td>
                    @if (user.EmailConfirmed)
                    {
                        <a asp-page="./ConfirmAccount" asp-route-id="@user.Id" class="btn-outline-success">@_localization.Getkey("DaXacNhan")</a>
                    }
                    else
                    {
                        <a asp-page="./ConfirmAccount" asp-route-id="@user.Id" class="btn-outline-danger">@_localization.Getkey("ChuaXacNhan")</a>
                    }
                </td>
                <td>
                    @if (user.statusAccount.Equals(-1))
                    {
                        <a asp-page="./DisableAccount" asp-route-id="@user.Id" class="btn-outline-danger">@_localization.Getkey("AccountLockout")</a>
                    }else{
                        <a asp-page="./DisableAccount" asp-route-id="@user.Id" class="btn-outline-success">@_localization.Getkey("AccountNormal")</a>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-primary SetPasswordBtn" data-bs-toggle="modal" data-bs-target="#confirmSetPasswordModal-@user.Id"><i class="lni lni-cogs"></i></a>

                    <div class="modal" id="confirmSetPasswordModal-@user.Id" tabindex="-1" aria-labelledby="confirmSetPasswordLabel-@user.Id" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmSetPasswordLabel-@user.Id">@_localization.Getkey("SetPasswordUserTitle")</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    @_localization.Getkey("SetPasswordUser") <strong>@user.UserName</strong>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@_localization.Getkey("Cancel")</button>
                                    <form method="post" asp-page="./SetPassword" asp-route-id="@user.Id">
                                        <button type="submit" class="btn btn-success">@_localization.Getkey("SetPassword")</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="btn btn-outline-secondary" asp-page="./ListReceipt" asp-route-id="@user.Id"><i class="lni lni-list"></i></a>
                </td>
            </tr>
        }
    </table>
    <div class="modal" id="confirmExportUserExcelModal" tabindex="-1" aria-labelledby="confirmExportUserExcelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmExportUserExcelLabel">@_localization.Getkey("ConfirmPrintBill")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @_localization.Getkey("UserExcel")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@_localization.Getkey("Cancel")</button>
                    <form method="post" asp-page="./ExportUserExcel">
                        <button type="submit" class="btn btn-primary" id="confirmExportExcelBtn">@_localization.Getkey("PrintBill")</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="confirmExportUserPdfModal" tabindex="-1" aria-labelledby="confirmExportUserPdfLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmExportUserPdfLabel">@_localization.Getkey("ConfirmPrintBill")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @_localization.Getkey("UserPdf")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@_localization.Getkey("Cancel")</button>
                    <form method="post" asp-page="./ExportUserPdf">
                        <button type="submit" class="btn btn-primary" id="confirmExportPdfBtn">@_localization.Getkey("PrintBill")</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Paging" model="pagingModel" />
}
else
{
    <div class="text-center">
        <div>
            <div style="font-size: 20px; color: black"><br>--- @_localization.Getkey("List_empty") ---</div>
        </div>

    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).on('click', '#exportUserExcelBtn', function () {
            // Hiển thị modal khi người dùng click vào nút export excel
            $('#confirmExportUserExcelModal').modal('show');

            // Xác nhận export excel khi người dùng click vào nút Export trong modal
            $('#confirmExportExcelBtn').click(function () {

                // Ẩn modal sau khi xác nhận export excel
                $('#confirmExportUserExcelModal').modal('hide');
                alert("Xuất file excel thành công.");
            });
        });
    </script>

    <script>
        $(document).on('click', '#exportUserPdfBtn', function () {
            // Hiển thị modal khi người dùng click vào nút export excel
            $('#confirmExportUserPdfModal').modal('show');

            // Xác nhận export excel khi người dùng click vào nút Export trong modal
            $('#confirmExportPdfBtn').click(function () {

                // Ẩn modal sau khi xác nhận export excel
                $('#confirmExportUserPdfModal').modal('hide');
                alert("Xuất file pdf thành công.");
            });
        });
    </script>

    <script>
        $(document).on('click', '.SetPasswordBtn', function () {
            // Lấy ra ID của modal từ data-bs-target
            var targetModalId = $(this).data('bs-target');

            // Hiển thị modal
            $(targetModalId).modal('show');

            // Xác nhận xóa khi người dùng click vào nút Xóa trong modal
            $(targetModalId).find('form').submit(function () {
                // Ẩn modal sau khi xác nhận xóa
                $(targetModalId).modal('hide');
            });
        });
    </script>
}