@page
@model ExportProductExcelModel
@{
    ViewData["Title"] = @_localization.Getkey("ConfirmPrintBill");
    var currentCulture = Thread.CurrentThread.CurrentCulture.Name;
    Console.WriteLine(currentCulture);
    if (currentCulture == "vi-VN")
        ViewData["language"] = _localization.Getkey("Vietnamese");
    else if (currentCulture == "en-US")
        ViewData["language"] = _localization.Getkey("English");
    else ViewData["language"] = "";
}


@*<h2>@ViewData["Title"]</h2>*@
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@_localization.Getkey("SanPham")</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li>
                        <a asp-page="../Home/Index"><i class="lni lni-home"></i> @_localization.Getkey("AdminPage")</a>
                    </li>
                    <li>
                        <a asp-page="Index" asp-area="AdminManage"><i class="lni lni-list"></i> @_localization.Getkey("DSSP")</a>
                    </li>
                    <li>@_localization.Getkey("ConfirmPrintBill")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="card-body">
                        <div class="title">
                            <h3>@_localization.Getkey("ConfirmPrintBill")</h3>
                            <p>
                                @_localization.Getkey("ProductExcel")
                            </p>
                        </div>
                        <div class="button">
                            <button class="btn" type="submit">@_localization.Getkey("PrintBill")</button>
                            <hr />
                            <a class="btn btn-primary" asp-page="./Index">@_localization.Getkey("BackTo")</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

